*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.primary_nav {
    display: flex;
    padding: 1em;
    background-color: rgba(40, 43, 41, 0.831);
}

.primary_nav ul {
    list-style-type: none;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap: 1em;
    font-size: 30px;
}
.primary_nav ul a {
    color: beige;
}

.bgimage {
    background-image: url(img/homer.gif);
    background-position: 700px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 400px 250px;
}

a {
    text-decoration: none;
    color: blue;
}
a:hover {
    color: rgb(73, 226, 104);
}
p {
    max-width: 50%;
    font-size: large;
    margin-left: 8px;
    padding-top: 8px;
}

.img1 {
    display: inline-block;
    width: auto;
    margin-top: 15px;
    margin-left: 4px;
    border-radius: none;
}
.startpage h1 {
    color: rgb(147, 0, 245);
    padding-top: 5px;
    padding-bottom: 3px;
    background-image: url(img/dentastix.png);
    text-align: center;
    text-shadow: 3px 2px 1px black;
    margin-bottom: 3px;
}

tr {
    color: black;
}
td {
    color:brown;
}
table, th, td {
    border: 1px solid;
}

.bildgalleri {
    background-color: lightblue;
}

iframe {
    padding: 3px;
}

table {
    padding: 3px;
}

@media screen and (max-width: 450px) {
    .primary_nav {
        float: none;
        width: 100%;
    }
    body {
        background-color: rgba(54, 45, 62, 0.737);
    }
    .img1 {
        width: 75%;
    }
    p {
        color:whitesmoke;
        font-size: x-large;
        max-width: 100%;
        margin-right: 5px;
        width: 100%;
    }
}